<!-- 
   -->
<section
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  (scrolledUp)="onScrollUp()"
>
  <div class="contenedor" id="contenedor">
    <ng-container *ngIf="ListSearch; else message"></ng-container>
    <div *ngFor="let movie of ListSearch; let indice = index" class="pelicula">
      <img
        class="poster"
        src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
        (click)="link(movie)"
      />
      <h3 class="titulo">{{ movie.title }}</h3>
    </div>

    <ng-template #message>
      <p>Sin resultados de busqueda</p>
    </ng-template>

    <!-- [nombre]="findList" -->
    <ng-container *ngIf="listado.length > 0; else messageServer">
      <div *ngFor="let movie of listado; let indice = index" class="pelicula">
        <img
          (click)="link(movie)"
          class="poster"
          src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
        />
        <h3 class="titulo">{{ movie.title }}</h3>
      </div></ng-container
    >

    <ng-template #messageServer>
      <p>Servidor temporalmente en mantenimiento</p>
    </ng-template>
  </div>
</section>
