<!-- Recommended List-->
<section class="Recommended-list" aria-label="upcoming movie">
  <div class="title-wrapper">
    <h3 class="title-large">{{ homePageSections[0].title }}</h3>
  </div>
  <div class="slider-list">
    <div class="slider-inner">
      <div
        *ngFor="let movie of homePageSections[0].movies; let indi = index"
        class="movie-card"
        (click)="link(movie)"
      >
        <figure class="poster-box card-banner">
          <img
            src="{{ imageUrl }}w342{{ movie.poster_path }}"
            alt="{{ movie.title }}"
            class="img-cover"
          />
        </figure>
        <h4 class="title">{{ movie.title }}</h4>
        <div class="meta-list">
          <div class="meta-item">
            <img
              src="../../../assets/assets/images/star.png"
              loading="lazy"
              alt="rating"
            />
            <span class="span">{{ movie.vote_average.toFixed(1) }}</span>
          </div>
          <div class="card-bage">{{ movie.release_date.split("-")[0] }}</div>
        </div>

        <a
          [routerLink]="'/details/' + movie.id"
          src="/details"
          class="card-btn"
          title="{{ movie.title }}"
        ></a>
      </div>
    </div>
  </div>
</section>
