<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MovieNet</title>
  <meta name="title" content="MovieNet" />
  <meta
    name="description"
    content="MovieNet is a popular movie app made by shiwirockztar"
  />

  <!-- 
        Custom Styles 
    -->
  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
  <!-- <link rel="stylesheet" href="style.css" /> -->
</head>

<body>
  <!---------------- 
        HEADER 
    ------------------>
  <header class="header">
    <a href="./index.html" class="logo">
      <img
        src="../../../assets/assets/images/logo.svg"
        width="140px"
        height="32px"
        alt="Tvflix home"
      />
    </a>
    <!--  
        se setea la clase "search-box active" para mostrar los elementos de buqueda 
      -->
    <div class="search-box" search-box>
      <!--  
            se setea la clase "search-wrapper searching" para activar en la busqueda la barra carga 
        -->
      <div class="search-wrapper" search-wrapper>
        <input
          type="text"
          name="search"
          aria-label="search movies"
          placeholder="Search any movies.."
          class="search-field"
          autocomplete="off"
          search-field
        />
        <img
          src="../../../assets/assets/images/search.png"
          class="leading-icon"
          width="24"
          height="24"
          alt="search"
        />
      </div>
      <button class="search-btn" search-toggler>
        <img
          src="../../../assets/assets/images/close.png"
          alt="close search box"
          width="24"
          height="24"
        />
      </button>
    </div>

    <div class="search-btn" search-toggler menu-close>
      <img
        src="../../../assets/assets/images/search.png"
        alt="open search box"
        width="24"
        height="24"
      />
    </div>

    <button class="menu-btn" menu-btn menu-toggler>
      <img
        src="../../../assets/assets/images/menu.png"
        alt="open menu"
        class="menu"
        width="24"
        height="24"
      />
      <img
        src="../../../assets/assets/images/menu-close.png"
        alt="close menu"
        class="close"
        width="24"
        height="24"
      />
    </button>
  </header>
  <!---------------- 
        END HEADER 
    ------------------>

  <!---------------- 
        SIDEBAR  
    ------------------>
  <!--  
        se setea la clase "sidebar active" para mostrar los elementos de barra lateral 
    -->
  <nav class="sidebar" sidebar>
    <div class="sidebar-inner">
      <div class="sidebar-list">
        <p class="title">Genre</p>
        <a href="movie-list.html" menu-close class="sidebar-link">Action</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Horror</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Comedy</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Adventure</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Drama</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Sci-Fi</a>
      </div>
      <div class="sidebar-list">
        <p class="title">Language</p>
        <a href="movie-list.html" menu-close class="sidebar-link">English</a>
        <a href="movie-list.html" menu-close class="sidebar-link">Spanish</a>
        <a href="movie-list.html" menu-close class="sidebar-link">french</a>
      </div>
      <div class="sidebar-footer">
        <p class="copyright">
          Copyright 2023
          <a href="https://github.com/shiwirockztar">shiwirockztar</a>
        </p>

        <img
          src="../../../assets/assets/images/tmdb-logo.svg"
          alt="the movie database logo"
        />
      </div>
    </div>
  </nav>
  <!---------------- 
        END SIDEBAR  
    ------------------>

  <!--  
        se setea la clase "overlay active" para mostrar marco de la sidebar 
    -->
  <div class="overlay" overlay menu-toogler></div>

  <article class="container" page-content>
    <!-- Banner -->
    <section class="banner" aria-label="popular movies">
      <div class="banner-slider">
        <div class="slider-item active" slider-item>
          <img
            src="../../../assets/assets/images/slider-banner.jpg"
            alt="Puss in Boots: The Last Wish"
            class="img-cover"
            loading="eager"
          />
          <div class="banner-content">
            <h2 class="heading">Puss in Boots: The Last Wish</h2>
            <div class="meta-list">
              <div class="meta-item">2022</div>
              <div class="meta-item card-bage">7.5</div>
            </div>
            <p class="genre">Animation, Action, Adventure</p>
            <p class="banner-text">
              Puss in Boots discovers that his passion for adventure has taken
              its toll: He has burned through eight of his nine lives, leaving
              him with only one life left. Puss sets out on an epic journey to
              find the mythical Last Wish and restore his nine lives.
            </p>
            <a href="detail.html" class="btn"
              ><img
                src="../../../assets/assets/images/play_circle.png"
                height="24"
                width="24"
                alt="play circle"
              /><span class="span">Watch Now</span>
            </a>
          </div>
        </div>
      </div>

      <div class="slider-control">
        <div class="control-inner">
          <button class="poster-box slider-item active">
            <img
              src="../../../assets/assets/images/slider-control.jpg"
              alt="Slide to Puss in Boots: The Last Wish"
              loading="lazy"
              draggable="false"
              class="img-cover"
            />
          </button>

          <button class="poster-box slider-item">
            <img
              src="../../../assets/assets/images/slider-control.jpg"
              alt="Slide to Puss in Boots: The Last Wish"
              loading="lazy"
              draggable="false"
              class="img-cover"
            />
          </button>

          <button class="poster-box slider-item">
            <img
              src="../../../assets/assets/images/slider-control.jpg"
              alt="Slide to Puss in Boots: The Last Wish"
              loading="lazy"
              draggable="false"
              class="img-cover"
            />
          </button>

          <button class="poster-box slider-item">
            <img
              src="../../../assets/assets/images/slider-control.jpg"
              alt="Slide to Puss in Boots: The Last Wish"
              loading="lazy"
              draggable="false"
              class="img-cover"
            />
          </button>

          <button class="poster-box slider-item">
            <img
              src="../../../assets/assets/images/slider-control.jpg"
              alt="Slide to Puss in Boots: The Last Wish"
              loading="lazy"
              draggable="false"
              class="img-cover"
            />
          </button>
        </div>
      </div>
    </section>

    <!-- Movie List-->
    <section class="movie-list" aria-label="upcoming movie">
      <div class="title-wrapper">
        <h3 class="title-large">Upcoming Movies</h3>
      </div>
      <div class="slider-list">
        <div class="slider-inner">
          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                 "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                      "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                 "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                      "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                 "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                      "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>

          <div class="movie-card">
            <figure class="poster-box card-banner">
              <img
                src="../../../assets/assets/images/slider-control.jpg"
                alt="Puss in Boots: The Last Wish
                  "
                class="img-cover"
              />
            </figure>
            <h4 class="title">Puss in Boots: The Last Wish</h4>
            <div class="meta-list">
              <div class="meta-item">
                <img
                  src="../../../assets/assets/images/star.png"
                  loading="lazy"
                  alt="rating"
                />
                <span class="span">8.4</span>
              </div>
              <div class="card-bage">2022</div>
            </div>
            <a
              href="detail.html"
              class="card-btn"
              title="Puss in Boots: The Last Wish"
            ></a>
          </div>
        </div>
      </div>
    </section>
  </article>

  <!-- 
        Custom scripts 
    -->
  <script src="assets/js/global.js" defer></script>
  <script src="assets/js/index.js" type="module"></script>
  <script src="main.js"></script>
</body>
