<body>
  <!---------------- 
    HEADER 
  ------------------>
  <app-header></app-header>

  <!---------------- 
        SIDEBAR  
    ------------------>
  <app-home-sidebar></app-home-sidebar>

  <!-- se setea la clase "overlay active" para mostrar marco de la sidebar -->
  <div class="overlay" overlay menu-toogler></div>

  <article class="container" page-content>
    <!-- Banner -->
    <app-banner></app-banner>
    <!-- Movie List -->
    <app-movie-list></app-movie-list>
  </article>
</body>
