<!--  
     se setea la clase "sidebar active" para mostrar los elementos de barra lateral 
-->
<nav class="sidebar" [ngClass]="state ? 'sidebar active' : 'sidebar'" sidebar>
  <div class="sidebar-inner">
    <div class="sidebar-list">
      <p class="title">Genre</p>
      <div
        *ngFor="let propiedad of getObjectKeys(genreList); let indice = index"
      >
        <a href="movie-list.html" menu-close class="sidebar-link">{{
          genreList[propiedad]
        }}</a>
      </div>

      <!-- <a href="movie-list.html" menu-close class="sidebar-link">Horror</a>
      <a href="movie-list.html" menu-close class="sidebar-link">Comedy</a>
      <a href="movie-list.html" menu-close class="sidebar-link">Adventure</a>
      <a href="movie-list.html" menu-close class="sidebar-link">Drama</a>
      <a href="movie-list.html" menu-close class="sidebar-link">Sci-Fi</a> -->
    </div>
    <div class="sidebar-list">
      <p class="title">Language</p>
      <a href="movie-list.html" menu-close class="sidebar-link">English</a>
      <a href="movie-list.html" menu-close class="sidebar-link">Spanish</a>
      <a href="movie-list.html" menu-close class="sidebar-link">french</a>
    </div>
    <div class="sidebar-footer">
      <p class="copyright">
        Copyright 2023
        <a href="https://github.com/shiwirockztar">shiwirockztar</a>
      </p>

      <img
        src="../../../assets/assets/images/tmdb-logo.svg"
        alt="the movie database logo"
      />
    </div>
  </div>
</nav>
