<mat-card>
    <mat-card-content class="p-24">
      
        <div
          class="row d-flex justify-content-space-between"
          style="justify-content: space-between"
        >
          <div class="col-lg-3 d-flex align-items-center">
            <button
              mat-flat-button
              color="warn"
              style="margin-right: 10px"
              (click)="back()"
            >
            
              <!-- <i-tabler
              name="arrow-back-up"
                class="icon-18 m-r-10 cursor-pointer"
              ></i-tabler> -->
              volver
            </button>
          </div>
          <div class="col-lg-3 d-flex justify-content-end align-items-center">
              <form (submit)="onSubmit()">
                <input type="file" (change)="onFileSelected($event)" 
                
                />
                <!-- accept=".CSV, application/vnd.,openxmlformats-officedocument.spreadhtml.sheet,application/vnd.ms-excel" -->
                <button
                mat-flat-button
                color="primary"
                style="margin-right: 10px"
                
              >
              <!-- (click)="back()" -->
              <mat-icon>assignment_ind</mat-icon>
                Subir Archivo
              </button>
              </form>

          </div>
        </div>
        <br />
        <div class="table-responsive">
          <table class="mat-mdc-table mdc-data-table__table cdk-table w-100">
            <thead
              class="shadow-none text-center bg-light-primary shadow-none text-primary"
            >
              <tr
                class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted"
              >
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted cdk-column-- mat-column-- ng-star-inserted"
                >
                  Nombre
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                  Email
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                Documento
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                Numero 
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                Perfil
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                Cargo
                </th>
                <th
                  class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-s-16 f-w-600 cdk-column-- mat-column-- ng-star-inserted"
                  style="text-align: start"
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                  <!-- *ngFor="
                  let item of cutomersFiltered
                    | paginate
                      : { itemsPerPage: pageSize, currentPage: currentPage }
                "  -->
                <tr
           
                class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted"
              >
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <!-- {{ item.id }} -->
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <!-- {{ item.nit }} -->
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <!-- {{ item.name }} -->
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <!-- {{ item.workTeam.leader.name }} -->
                  <!-- {{ item.workTeam.leader.lastName }} -->
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <!-- {{ item.contractType.value }} -->
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                 
                </td>
                <td
                  class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-mobile mat-column-mobile ng-star-inserted"
                >
                  <a class="m-r-10 cursor-pointer"
                    >
                    <!-- <i-tabler
                      name="certificate"
                      class="icon-25"
                      matTooltip="Ver activadores"
                      style="color: #2297d5"
                      
                    >
                    </i-tabler> -->
                </a>
                  <a class="m-r-10 cursor-pointer"
                    ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination" style="display: flex; margin-top: 30px">

          </div>
        </div>
      
  
  
    </mat-card-content>
  </mat-card>
  
