<header class="header">
  <a href="./index.html" class="logo">
    <!--  logox2.svg - logo.svg - logox.png  -->
    <img
      src="../../../assets/assets/images/logox2.svg"
      width="210px"
      height="37px"
      alt="Tvflix home"
    />
  </a>
  <!--  
    se setea la clase "search-box active" para mostrar los elementos de buqueda    
  -->
  <div
    class="search-box"
    [ngClass]="this.active ? 'search-box active' : 'search-box'"
    search-box
  >
    <!--  
        se setea la clase "search-wrapper searching" para activar en la busqueda la barra carga 
    -->
    <div class="search-wrapper" search-wrapper>
      <input
        type="text"
        name="search"
        aria-label="search movies"
        placeholder="Search any movies.."
        class="search-field"
        autocomplete="off"
        search-field
      />
      <img
        src="../../../assets/assets/images/search.png"
        class="leading-icon"
        width="24"
        height="24"
        alt="search"
      />
    </div>
    <button class="search-btn" search-toggler (click)="toggle()">
      <img
        src="../../../assets/assets/images/close.png"
        alt="close search box"
        width="24"
        height="24"
      />
    </button>
  </div>

  <div class="search-btn" search-toggler menu-close (click)="toggle()">
    <img
      src="../../../assets/assets/images/search.png"
      alt="open search box"
      width="24"
      height="24"
    />
  </div>

  <button
    class="menu-btn"
    [ngClass]="menuAbierto ? 'menu-btn active' : 'menu-btn'"
    menu-btn
    (click)="activ()"
    menu-toggler
  >
    <img
      src="../../../assets/assets/images/menu.png"
      alt="open menu"
      class="menu"
      width="24"
      height="24"
    />
    <img
      src="../../../assets/assets/images/menu-close.png"
      alt="close menu"
      class="close"
      width="24"
      height="24"
    />
  </button>
</header>
