<mat-toolbar color="primary">
  <div class="content">
    <div class="content-left">
      <a [routerLink]="'/welcome'">
        <mat-icon>
          <span class="material-symbols-outlined"> movie </span></mat-icon
        >
      </a>
      <span><a [routerLink]="''">MovieNet</a></span>
    </div>
    <div class="content-center">
      <input
        type="text"
        [formControl]="control"
        placeholder="Buscar pelicula"
      />
    </div>
    <!-- <span class="example-spacer"></span> -->
    <div class="content-right">
      <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'"
        style="margin-right: 0px"
      >
        Registrar
      </a>
      <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/Signin'"
        style="margin-right: 0px"
        >Iniciar sesión
      </a>

      <a *ngIf="signIn" style="margin-right: 50px" (click)="logout()">
        Cerrar sesión
      </a>

      <a *ngIf="signIn" style="margin-right: 10px" routerLink="/profile">
        {{ login.getUser() }}
      </a>
    </div>
  </div>
</mat-toolbar>
