.content {
  display: flex;
  justify-content: space-between;
  width: 96vw;
}
.content-left {
  width: 12vw;
  display: flex;
  justify-content: space-between;
}
.content-right {
  display: flex;
  width: 35vw;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: #fff;
}
