<mat-toolbar color="primary">
  <div class="content">
    <div class="content-left">
      <a [routerLink]="'/welcome'">
        <mat-icon>
          <span class="material-symbols-outlined"> movie </span></mat-icon
        >
      </a>
      <span><a [routerLink]="''">MovieNet</a></span>
    </div>
    <div class="content-center">
      <input
        type="text"
        [formControl]="control"
        placeholder="Buscar pelicula"
      />
    </div>
    <!-- <span class="example-spacer"></span> -->
    <div class="content-right">
      <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'"
        style="margin-right: 0px"
      >
        Registrar
      </a>
      <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/Signin'"
        style="margin-right: 0px"
        >Iniciar sesión
      </a>

      <a
        *ngIf="login.isLoggedIn"
        style="margin-right: 50px"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="logout()"
      >
        Cerrar sesión
      </a>

      <a
        *ngIf="login.isLoggedIn()"
        mat-button
        style="margin-right: 10px"
        class="example-icon favorite-icon"
        routerLink="/admin"
        aria-label="Example icon-button with heart icon"
      >
        {{ login.getUser() }}
      </a>
    </div>
  </div>
</mat-toolbar>
