.content {
  display: flex;
  justify-content: space-between;
  width: 96vw;
}
.content-left {
  width: 12vw;
  display: flex;
  justify-content: space-between;
}
.content-center {
  display: flex;
  width: 35vw;
  justify-content: flex-end;
}
.content-right {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
}

.mat-toolbar.mat-primary {
  font-size: 18px;
}
