<section class="banner" aria-label="popular movies">
  <div class="banner-slider">
    <!-- se setea la clase "slider-item active" para mostrar la hero slider-->
    <div
      #sliderItem
      *ngFor="let movie of movieList; let indice = index"
      class="slider-item"
      slider-item
    >
      <img
        src="{{ imageUrl }}w1280{{ movie.backdrop_path }}"
        alt="{{ movie.title }}"
        class="img-cover"
        loading="eager"
      />
      <div class="banner-content">
        <h2 class="heading">{{ movie.title }}</h2>
        <div class="meta-list">
          <div class="meta-item">{{ movie.release_date.split("-")[0] }}</div>
          <div class="meta-item card-bage">
            {{ movie.vote_average.toFixed(1) }}
          </div>
        </div>
        <!-- <p class="genre">{{ getMe(movie.genre_ids) }}</p> -->
        <p class="genre">{{ getGenreFromList(movie.genre_ids) }}</p>
        <p class="banner-text">
          {{ movie.overview }}
        </p>
        <a
          [routerLink]="'/details'"
          href="details.html"
          class="btn"
          (click)="link(movie)"
          ><img
            src="../../../assets/assets/images/play_circle.png"
            height="24"
            width="24"
            alt="play circle"
          /><span class="span">Watch Now</span>
        </a>
      </div>
    </div>
  </div>

  <div class="slider-control">
    <div class="control-inner">
      <!-- se setea la clase "poster-box  slider-item active" para mostrar brillante el poster-->
      <button
        *ngFor="let movie of movieList; let indice = index"
        #posterBox
        class="poster-box slider-item"
        (click)="activar(indice)"
      >
        <img
          src="{{ imageUrl }}w154{{ movie.poster_path }}"
          alt="Slide to {{ movie.title }}"
          loading="lazy"
          draggable="false"
          class="img-cover"
        />
      </button>
    </div>
  </div>
</section>
