/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 Shiwirockztar
 */

/*-----------------------------------*\
    #HOME PAGE
\*-----------------------------------*/
.container {
  position: relative;
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 24px 20px 48px;
  height: calc(100vh - 96px);
  overflow-y: overlay;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--background);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 3;
}
.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/* .container::after,
    .serch-modal::after {
      content: "";
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background-image: linear-gradient(var(--bottom-overlay));
      z-index: 1;
      pointer-events: none;
    } */

/*-----------------------------------*\
      #SEARCH MODAL
    \*-----------------------------------*/
.search-modal {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--surface);
  padding: 50px 24px;
  overflow-y: overlay;
  z-index: 4;
  display: none;
}
.search-modal.active {
  display: block;
}

.search-modal .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-block-end: 8px;
}
/*-----------------------------------*\
      #MEDIA QUERIES
  \*-----------------------------------*/
