<body>
  <!---------------- 
      HEADER 
    ------------------>
  <app-header (toggleMenu)="activated()"></app-header>

  <!---------------- 
          SIDEBAR  
      ------------------>
  <app-home-sidebar [state]="openMenu"></app-home-sidebar>

  <!-- se setea la clase "overlay active" para mostrar marco de la sidebar -->
  <div
    class="overlay"
    [ngClass]="openMenu ? 'overlay active' : 'overlay'"
    overlay
    menu-toogler
  ></div>

  <article class="container" page-content>
    <!---------------- 
          MOVIE DETAIL  
    ------------------>
    <div class="movie-detail">
      <div
        class="backdrop-image"
        [style.background-image]="
          'url(' +
          imageUrl +
          ('w1280' || 'original') +
          (movie?.backdrop_path || movie?.poster_path || '') +
          ')'
        "
      ></div>

      <figure class="poster-box movie-poster">
        <img
          src="{{ imageUrl }}w342{{ movie.poster_path }}"
          alt="{{ movie.title }}"
          class="img-cover"
        />
      </figure>

      <!-- fixear esto -->
      <div class="detail-box">
        <div class="detail-content">
          <h1 class="heading">{{ movie.title }}</h1>
          <div class="meta-list">
            <div class="meta-item">
              <img
                src="../../../assets/assets/images/star.png"
                alt="rating"
                height="20"
                width="20"
              />
              <span class="span">{{ movie.vote_average.toFixed(1) }}</span>
            </div>
            <div class="separator"></div>
            <div class="meta-item">{{ movie.runtime }} min</div>
            <div class="separator"></div>
            <div class="meta-item">{{ movie.release_date.split("-")[0] }}</div>
            <div class="meta-item cad-bage">{{ this.certification }}</div>
          </div>

          <p class="genre">{{ getGenres(movie.genres) }}</p>
          <p class="overview">
            {{ movie.overview }}
          </p>

          <ul class="detail-list">
            <div class="list-item">
              <p class="list-name">Starring</p>

              <p>{{ getCasts(cast) }}</p>
            </div>

            <div class="list-item">
              <p class="list-name">Directed By</p>

              <p>{{ getDirector(crew) }}</p>
            </div>
          </ul>
        </div>

        <div class="title-wrapper">
          <h3 class="title-large">Trailers and Clips</h3>
        </div>

        <div class="slider-list">
          <div class="slider-inner">
            <!-- *ngFor="let video of youtubeList; let indice = index" -->
            <!-- <div
              *ngFor="
                let video of filterVideos(this.videos);
                let indice = index
              "
              class="video-card"
            > -->
            <div
              *ngFor="let video of youtubeList; let indice = index"
              class="video-card"
            >
              <!-- [src]=" 'https://www.youtube.com/embed/' + video.key +
              '?&theme=dark&color=white&rel=0' " -->

              <!-- [src]="getVideoSrc(video.key)" -->

              <!-- src="https://www.youtube.com/embed/{{
                video.key
              }}?&theme=dark&color=white&rel=0" -->

              <!-- src="https://www.youtube.com/embed/5qap5aO9A?&theme=dark&color=white&rel=0" -->
              <iframe
                width="500"
                height="294"
                [src]="getVideoSrc(video.key)"
                frameborder="0"
                allowfullscreen="1"
                title="{{ video.name }}"
                class="img-cover"
                loading="lazy"
              ></iframe>
            </div>
            <!-- <div class="video-card"></div> -->
          </div>
        </div>
      </div>
      <!-- hasta aca -->
    </div>

    <!-- Recommended List-->
    <app-recommended-list></app-recommended-list>
  </article>
</body>
